.btn-primary {
    margin-right: 2rem;
}

.btn-success {
    margin-left: 2rem;
}

.button-row {
    text-align: center;
    justify-content: center;
}

.button-row {
    margin-top: 10%;
}

.logout {
    padding-top: 0.5rem;
}

.profile-image {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
}

.image-div {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}